#bigBoard
{
	width:	80%;
	margin-left:	auto;
	margin-right:	auto;
}

#actionPopup
{
	text-align:	center;
}

#propertyTable
{
	text-align:	center;
	width:	100%;
}

/* Property Columns CSS */
#pNameCol
{
	width:	20%;
}

#pValCol
{
	width:	65%;
}

#isArrayCol
{
	width:	5%;
}

#pTypeCol
{
	width:	5%;
}

#remPropCol
{
	width:	5%;
}
/* End Column CSS */

.network-frame
{
	outline-style:	dashed;
}

.no-close .ui-dialog-titlebar-close
{
  display: none;
}

.propertyLabel
{
	width:	100%;
}

.propertyValue
{
	width:	80%;
}

.organizer
{
	display: inline-block;
}
