#bigBoard
{
	width:	80%;
	margin-left:	auto;
	margin-right:	auto;
}

#relationPopup
{
	text-align:	center;
}

#nodePopup
{
	text-align:	center;
}

#propertyTable
{
	text-align:	center;
	width:	100%;
}

.graph-frame
{
	outline-style:	dashed;
}

.no-close .ui-dialog-titlebar-close
{
  display: none;
}

.propertyLabel
{
	width:	150px;
}

.propertyValue
{
	width:	150px;
}
