#relationPopup
{
	text-align:	center;
}

#nodePopup
{
	text-align:	center;
}

.no-close .ui-dialog-titlebar-close
{
  display: none;
}

.propertyLabel
{
	width:	150px;
}

.propertyValue
{
	width:	150px;
}
